@{
	ViewData["Title"] = "Edit Engineer";
	ViewData["Footer"] = "Views / Engineers / Edit";
}

@model Engineer

<div class="text-center">
	<h1 class="display-4">Edit Engineer</h1>
</div>

<hr/>

@using (Html.BeginForm())
{
	@Html.LabelFor(model => model.EngineerName)
	@Html.TextBoxFor(model => model.EngineerName)
	<input type="submit" value="Edit Engineer" class="btn btn-primary"/>
}