@{
	ViewData["Title"] = "Home";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
</div>

<hr/>

<ul>
	<li>
		<strong>Home</strong>
	</li>
	<li>
		<a asp-area="" asp-controller="Home" asp-action="Index">Home / Index</a>
	</li>
	<li>
		<strong>Engineers</strong>
	</li>
	<li>
		<a asp-area="" asp-controller="Engineers" asp-action="Index">Engineers / Index</a>
	</li>
	<li>
		<strong>Machines</strong>
	</li>
	<li>
		<a asp-area="" asp-controller="Machines" asp-action="Index">Machines / Index </a>
	</li>
</ul>